<li>
	<%= gravatar_for user, size: 52 %>
	<%= link_to user.username, user %>
	<% if !current_user?(user) && current_user.admin? %>
		| <%= link_to 'delete', user_path(user), method: :delete, data: {confirm: "You Sure?"} %>
	<% end %>
</li>